/* Write your CSS here */
.card {
  height: 140px;
  width: 140px;
  background-color: #ffffff;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.image {
  height: 60px;
  width: 70px;
}

.li-items {
  list-style-type: none;
}
